<meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->

<!-- <div class="container">
  <div class="panel-group" id="accordion">
    <div class="panel panel-default" *ngFor="let f of myfaq">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="collapsed" style="overflow:none" data-toggle="collapse" data-parent="#accordion" href="#{{f.id}}" >{{f.ques}}</a>
          <span class="glyphicon glyphicon-plus" style="float:right"></span>
        </h4>
        
      </div>
     
      <div id="{{f.id}}" class="panel-collapse collapse" >
        <div class="panel-body"  >
            
              <div>
                  {{f.myfaq}}
          </div>
           
        </div>
      </div>
    </div> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <div class="container"> 
        <div id="accordion" class="accordion" > 
        <div class="card mb-0" *ngFor="let x of myfaq" >
        <a class="card-header collapsed" data-toggle="collapse" href="#collapseOne{{x.id}}"> 
        <div class="card-title"> 
        {{x.id}} {{x.ques}}<span class="glyphicon glyphicon-plus" style="float:right"></span>
        
        </div> 
        </a> 
        <div id="collapseOne{{x.id}}" class="card-body collapse" data-parent="#accordion" > 
        <p>{{x.myfaq}}</p> 
        </div> 
        
        </div> 
        </div> 
        </div>


    <!-- <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Why am not able to access payment gateway?
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2">How will I be able to chat with the customer support?</a>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse" >
          <div class="panel-body"  >
              <ul  *ngFor="let f of myfaq">
                <div>
                    {{f.myfaq2}}
            </div>
          </ul>  
          </div>
        </div>
      </div> -->
  

      <!-- <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="collapsed"data-toggle="collapse" data-parent="#accordion" href="#collapse3" >How to link my PayTm wallet?</a>
            </h4>
          </div>
          <div id="collapse3" class="panel-collapse collapse" >
            <div class="panel-body"  >
                <ul  *ngFor="let f of myfaq">
                  <div>
                      {{f.myfaq3}}
              </div>
            </ul>
               
            </div>
          </div>
        </div> -->
    
    

 <div >
  
 </div>
